# Example env variables
# Optional: if set, app will try to use a Postgres connection string. If empty, SQLite is used.
DATABASE_URL=postgresql://neondb_owner:...@.../neondb?sslmode=require&channel_binding=require
BASE_URL=http://localhost:3000
